<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{% static 'property_styles.css' %}">

</head>
<body>
<div class="header">
        <div class = "links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'search' %}">Search Properties</a>
            <a href="{% url 'favorites' %}">Favorites</a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
</div>
<div class="main_info">
    <p>The property you searched for doesn't exist!</p>

</div>
</body>
</html>