{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home_styles.css' %}">

</head>
<body>
    <div class="header">
        <div class = "links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'search' %}">Search Properties</a>
            <a href="{% url 'favorites' %}">Favorites</a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>


    <div class = "main" style = "height: 95vh; display: flex; justify-content: center; ">
        <div style = "background-color: white; width: 50%; height:50%; border-radius: 10px; text-align: center; padding: 10px;">
            <h1>Realtor Info</h1>
            <p>Name: {{ realtor.first_name }} {{ realtor.last_name }}</p>
            <p>Company: {{ realtor.company.name }}</p>
            <h3>{{ realtor.first_name }}'s Sales:</h3>
        </div>
    </div>
</div>
</body>
</html>
