{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
        <link rel="stylesheet" href="{% static 'home_styles.css' %}">

</head>
<body>
    <div class="header">
        <div class = "links">
            <a href="{% url 'home' %}">Home</a>
            <p>Search Properties</p>
            <a href="{% url 'favorites' %}">Favorites</a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
    <form method="post" action="{% url 'search' %}">
    {% csrf_token %}
    <div class="search_container">
        <input type="text" name="search_bar" placeholder="Search address..." style="width: 300px;" />
    </div>

    <div class="filter_bar">
        <div class="links">
            <label for="property_type">Property Style:</label>
            <select name="property_type">
                <option value="">All Styles</option>
                {% for style in styles %}
                    <option value="{{ style }}">{{ style }}</option>
                {% endfor %}
            </select>
            <label for="min_price">Min Price:</label>
            <input type="number" name="min_price" placeholder="0" min="0">

            <label for="max_price">Max Price:</label>
            <input type="number" name="max_price" placeholder="10000000" min="0">

            <button type="submit" name="action" value="filter">Apply Filters</button>
        </div>
    </div>
</form>

    <div class = "main">
        <div class = "properties_container">
            {% for sale in sales %}
            <div class="property" onclick="window.location.href='/property/{{ sale.property.id }}'">
                <h3>${{ sale.price }}</h3>
                {% if sale.property %}
                    <p>{{ sale.property.prop_id.address }}</p>
                    <p>{{ sale.property.style }}</p>
                    <p>{{ sale.date }}</p>
                {% else %}
                    <p>No address available</p>
                    <p>No style available</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>